html, body
    margin 0
    height 100%

body
    display table
    width 100%
    min-height 100%
    background-color #333
    font-size 100%
    font-family Helvetica,Arial,sans-serif
    transition background-color 0.5s

p
    margin 0
    color white
    color rgba(255,255,255,0.75)
    font-size 1.5em
    font-style italic
    line-height 1

p.color-choice
    position absolute
    left 0
    width 100%
    top 50%
    margin-top -0.75em
    color white
    color rgba(255,255,255,0.9)
    font-size 3em
    text-decoration none
    text-shadow 0 0 .075em #666
    text-shadow 0 0 .075em rgba(0,0,0,0.5)
    pointer-events none

p.result
    margin-top -1.5em

p.num
    font-size 1.5em
    margin-top 1em

span
    display inline-block
    width 1em
    height 1em
    vertical-align bottom

a
    display inline-block
    margin .125em
    padding .375em
    color white
    color rgba(255,255,255,0.9)
    font-size 3em
    text-decoration none
    text-shadow 0 0 .075em #666
    text-shadow 0 0 .075em rgba(0,0,0,0.5)
    cursor pointer

a.result
    cursor default

a.enable-all-colors
    position absolute
    bottom 0
    left 0
    width 100%
    font-size 1em
    color rgba(255,255,255,0.75)

a.color-choice, .bg2
    position absolute
    top 0
    left 0
    margin 0
    padding 0
    width 50%
    height 100%
    color transparent
    text-shadow none

a.color-choice + a.color-choice, .bg2
    left 50%

.app
    display table-cell
    vertical-align middle
    height 100%
    min-height 100%
    text-align center

@media (min-width: 769px)
    body
        font-size 150%

@media (min-width: 1025px)
    body
        font-size 200%