@import "variables"
@import "mixins"
@import "base"
@import "nav"

section p
    margin 0
    color white
    color rgba(255,255,255,0.8)
    font-size 1.5em
    font-style italic
    line-height 1

section span
    display inline-block
    width 1em
    height 1em
    vertical-align bottom

section a
    display inline-block
    margin .125em
    padding .375em
    color white
    color rgba(255,255,255,0.9)
    font-size 3em
    text-decoration none
    text-shadow 0 0 .075em #707070
    text-shadow 0 0 .075em rgba(0,0,0,0.5)
    cursor pointer

section a.result
    cursor default

section a.enable-all-colors
    position absolute
    bottom 0
    left 0
    width 100%
    font-size 1.2em